[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/msnnnn
[access "refs/for/refs/*"]
	read = group user/msnnnn
	push = group user/msnnnn
	label-Code-Review = -2..+2 group user/msnnnn
	label-Verified = -1..+1 group user/msnnnn
	rebase = group user/msnnnn
	removeReviewer = group user/msnnnn
	submit = group user/msnnnn
[access "refs/heads/*"]
	read = group user/msnnnn
	create = group user/msnnnn
	push = +force group user/msnnnn
	pushMerge = group user/msnnnn
[access "refs/tags/*"]
	push = group user/msnnnn
	push = +force group user/msnnnn
